## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [9]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)  ## using int() to make sure that the number of class 0 are integers and not any floating point numbers
n_class_1 = n_samples - n_class_0

In [10]:
n_class_0,n_class_1

(900, 100)

In [11]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
# for class 0
class_0 = pd.DataFrame({
    "feature_1" : np.random.normal(loc=0, scale=1, size=n_class_0),  ## loc=0 implies mean is zero, scale=1 implies standard deviation is 1
    "feature_2" : np.random.normal(loc=0, scale=1, size=n_class_0),
    "target" : [0] * n_class_0
})

# for class 1
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [21]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

## concatenate the two dataframes
df = pd.concat([class_0, class_1]).reset_index(drop = True)  ## resets the index and drops the index of previous dataframes and assign new indices

In [22]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [ ]:

df["target"].value_counts()  ## counts the unique occurences in the "target" column

target
0    900
1    100
Name: count, dtype: int64

In [27]:
## upsampling
df_minority=df[df['target']==1] ## filters the rows with target value 1
df_majority=df[df['target']==0]  ## filters the rows with target value 0

In [28]:

from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, replace = True, ## sampling with replacement
                        n_samples = len(df_majority),  # Upsample to match the number of majority class samples
                        random_state = 12              # For reproducibility
                        )

In [29]:
df_minority_upsampled.shape

(900, 3)

In [35]:
df_minority_upsampled.head()

     feature_1  feature_2  target
975   2.192449   3.566033       1
927   3.382173   2.913005       1
906   2.555489   1.143350       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1

In [36]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [37]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sampling

In [38]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

## concatenate the two dataframes by droping and resetting the index
df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [39]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [41]:
print(df_minority.shape)
print(df_majority.shape)

(100, 3)
(900, 3)

In [42]:

from sklearn.utils import resample
df_majority_downsampled = resample(df_majority, replace= False,   ## sample without replacement
                                   n_samples = len(df_minority),  # Downsample to match the number of minority class samples
                                   random_state = 12
                                )

In [44]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [45]:
df_downsampled.shape

(200, 3)

In [46]:
df_downsampled.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1