# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np

## To create a pandas dataframe with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size = (6, 4)), columns= ["col1", "col2", "col3", "col4"])
print("Original DataFrame:")
print(df)

## To set the index to be the first column
df.set_index("col1", inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
   col1  col2  col3  col4
0    44    74    26    75
1    55    29    12    71
2    11    24    44    33
3    44    59    86     4
4    92    65    34    60
5    78    79    90    75
DataFrame with new index:
      col2  col3  col4
col1
44      74    26    75
55      29    12    71
11      24    44    33
44      59    86     4
92      65    34    60
78      79    90    75

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [3]:
## To create a pandas dataframe with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size = (3, 3)), columns=["A", "B", "C"], index = ["X", "Y", "Z"])
print("Original DataFrame:")
print(df)

## To access the element at row "Y" and column "B"
element = df.at["Y", "B"]
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  54   9  94
Y  69  14  58
Z  25  67   9
Element at row 'Y' and column 'B': 14

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
## To create a pandas dataframe with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 10, size = (5, 3)), columns = ["a", "b", "c"])
print("Original DataFrame:")
print(df)

## To add a new column that is the product of the first two columns
df["d"] = df["a"] * df["b"]
print("DataFrame with new column:")
print(df)

Original DataFrame:
   a  b  c
0  6  5  1
1  6  2  3
2  4  7  6
3  1  8  7
4  1  2  2
DataFrame with new column:
   a  b  c   d
0  6  5  1  30
1  6  2  3  12
2  4  7  6  28
3  1  8  7   8
4  1  2  2   2

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [5]:
## To create dataframe
df = pd.DataFrame(np.random.randint(1, 10, size = (4, 3)), columns= ["a", "b", "c"])
print("Original DataFrame:")
print(df)

## To compute the row-wise and column-wise sum
row_sum = df.sum(axis = 1)
column_sum = df.sum(axis = 0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
   a  b  c
0  8  2  5
1  8  9  4
2  7  4  1
3  4  5  6
Row-wise sum:
0    15
1    21
2    12
3    15
dtype: int64
Column-wise sum:
a    27
b    20
c    16
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [6]:
## To Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

## To Introduce some NaN values
df.iloc[1, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[3, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)
print(df.mean())

Original DataFrame:
    A   B   C
0  71  93  88
1  51  48  43
2  11   4  25
3  95  95  60
4  89  65  67
DataFrame with NaN values:
      A     B     C
0  71.0  93.0  88.0
1  51.0   NaN  43.0
2  11.0   4.0   NaN
3   NaN  95.0  60.0
4  89.0  65.0  67.0
DataFrame with NaN values filled:
      A      B     C
0  71.0  93.00  88.0
1  51.0  64.25  43.0
2  11.0   4.00  64.5
3  55.5  95.00  60.0
4  89.0  65.00  67.0
A    55.50
B    64.25
C    64.50
dtype: float64

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [7]:
## To Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

## To Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 2] = np.nan
df.iloc[4, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

## To Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  82  53  46  77
1  33  97  96  65
2  59  89  78  54
3  55   7  48  49
4  34  51  58  78
5  28  38  77  18
DataFrame with NaN values:
    A     B     C   D
0  82  53.0  46.0  77
1  33  97.0   NaN  65
2  59  89.0  78.0  54
3  55   7.0   NaN  49
4  34   NaN  58.0  78
5  28  38.0  77.0  18
DataFrame with NaN values dropped:
    A     B     C   D
0  82  53.0  46.0  77
2  59  89.0  78.0  54
5  28  38.0  77.0  18

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [8]:
## To create a pandas datafram with 2 columns: "category" and "value"
df = pd.DataFrame({"Category":np.random.choice(["A", "B", "C"], size = 10), "Value": np.random.randint(1, 100, size = 10)})
print("Original DataFrame:")
print(df)

## To Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby("Category")["Value"].agg(["sum", "mean"])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        B     42
1        B     72
2        A     38
3        B     86
4        A     98
5        B     61
6        B     28
7        A     97
8        C     55
9        C     10
Grouped DataFrame:
          sum       mean
Category
A         233  77.666667
B         289  57.800000
C          65  32.500000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [9]:
## To create a pandas dataframe with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({"Product":np.random.choice(["p1", "p2", "p3"], size = 10), "Category": np.random.choice(['A', 'B', 'C'], size=10), "Sales": np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

## To group the dataframe by 'Category' and compute the total sales for each category
grouped = df.groupby("Category")["Sales"].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0      p1        C     50
1      p3        A     30
2      p2        B     28
3      p3        B     85
4      p1        B     13
5      p3        C     97
6      p3        A     97
7      p3        A     16
8      p2        B     92
9      p2        B     54
Grouped DataFrame:
Category
A    143
B    272
C    147
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [10]:
## To Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({"key": ["a", "b", "c", "d"], "value1": np.random.randint(1, 100, size = 4)})
df2 = pd.DataFrame({"key":["a", "b", "e", "f"], "value2":np.random.randint(1, 100, size = 4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

## To Merge the DataFrames using the common column
merged_df = pd.merge(df1, df2, on = "key")
print("Merged DataFrame:")
print(merged_df)

DataFrame 1:
  key  value1
0   a       6
1   b      77
2   c      15
3   d      44
DataFrame 2:
  key  value2
0   a      64
1   b      99
2   e      69
3   f      50
Merged DataFrame:
  key  value1  value2
0   a       6      64
1   b      77      99

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [11]:
## To Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=4), 'B': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=4), 'D': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

## To Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

## To Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  19  60
1  87  31
2  80  88
3  55  99
DataFrame 2:
    C   D
0  36  15
1  65   9
2  33  66
3  97  46
Concatenated DataFrame (rows):
      A     B     C     D
0  19.0  60.0   NaN   NaN
1  87.0  31.0   NaN   NaN
2  80.0  88.0   NaN   NaN
3  55.0  99.0   NaN   NaN
0   NaN   NaN  36.0  15.0
1   NaN   NaN  65.0   9.0
2   NaN   NaN  33.0  66.0
3   NaN   NaN  97.0  46.0
Concatenated DataFrame (columns):
    A   B   C   D
0  19  60  36  15
1  87  31  65   9
2  80  88  33  66
3  55  99  97  46

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [12]:

## To create a pandas dataframe with datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq= "D")
df = pd.DataFrame(date_rng, columns=["date"])
df["data"] = np.random.randint(1, 100, size = len(date_rng))
df.set_index("date", inplace=True)
print("Original DataFrame:")
print(df)

## To resample the dataframe to compute the monthly mean of the values
monthly_mean = df.resample("ME").mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    70
2022-01-02    34
2022-01-03    93
2022-01-04    50
2022-01-05    65
...          ...
2022-12-27    66
2022-12-28    88
2022-12-29    35
2022-12-30    16
2022-12-31    40

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  48.612903
2022-02-28  46.500000
2022-03-31  48.580645
2022-04-30  55.433333
2022-05-31  55.935484
2022-06-30  61.233333
2022-07-31  50.451613
2022-08-31  54.096774
2022-09-30  52.266667
2022-10-31  49.193548
2022-11-30  58.466667
2022-12-31  56.129032

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [13]:
## To Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

## To Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    38
2021-01-02    87
2021-01-03    17
2021-01-04    46
2021-01-05     3
...          ...
2021-12-27    23
2021-12-28    52
2021-12-29    94
2021-12-30    38
2021-12-31    16

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  58.428571
2021-12-28  54.714286
2021-12-29  56.142857
2021-12-30  53.000000
2021-12-31  44.428571

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [14]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              44      92      98
         two              31      24       3
B        one              87      90      32
         two              45      65      14
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              44      92      98
two              31      24       3
Slicing at Category 'B' and SubCategory 'two':
Value1    45
Value2    65
Value3    14
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [15]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              85      97      11
         two              75      30      41
B        one              39      45      55
         two              51      33      29
C        one              35       1      50
         two               3      31      43
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              85      97      11
         two              75      30      41
B        one              39      45      55
         two              51      33      29
C        one              35       1      50
         two               3      31      43

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [16]:
## To Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({"date":np.random.choice(date_rng, size=10), "category":np.random.choice(["a", "b","c"], size = 10), "value":np.random.randint(1, 100, size = 10 )})
print("Original DataFrame:")
print(df)

## To Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values = "value", index = "date", columns = "category", aggfunc= "sum" )
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
        date category  value
0 2022-01-07        a     15
1 2022-01-06        b     96
2 2022-01-04        a     58
3 2022-01-04        c      8
4 2022-01-04        c     53
5 2022-01-07        c     43
6 2022-01-02        b     91
7 2022-01-05        b     78
8 2022-01-01        a     76
9 2022-01-01        a     51
Pivot Table:
category        a     b     c
date
2022-01-01  127.0   NaN   NaN
2022-01-02    NaN  91.0   NaN
2022-01-04   58.0   NaN  61.0
2022-01-05    NaN  78.0   NaN
2022-01-06    NaN  96.0   NaN
2022-01-07   15.0   NaN  43.0

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [17]:

## To create Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({"Year":np.random.choice([2020, 2021, 2022], size = 12), "Quarter":np.random.choice(["Q1", "Q2", "Q3", "Q4"], size = 12), "Revenue":np.random.randint(1, 100, size = 12)})
print("Original DataFrame:")
print(df)

## To Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values="Revenue", index="Year", columns= "Quarter", aggfunc= "mean")
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2022      Q3       40
1   2022      Q1       26
2   2022      Q4       45
3   2022      Q2       16
4   2020      Q2       63
5   2022      Q3       21
6   2020      Q4       55
7   2022      Q3       23
8   2020      Q3       66
9   2021      Q4        1
10  2021      Q2       52
11  2020      Q1       14
Pivot Table:
Quarter    Q1    Q2    Q3    Q4
Year
2020     14.0  63.0  66.0  55.0
2021      NaN  52.0   NaN   1.0
2022     26.0  16.0  28.0  45.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [33]:

## To Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size = (5, 3)), columns = ["a", "b", "c"])
print("Original DataFrame:")
print(df)

## To apply a function that doubles the values of the dataframe
df_doubled = df.apply(lambda x: x*2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    a   b   c
0  10  31  64
1  62  11  15
2  32  24  69
3  27  39  99
4  82  83  12
Doubled DataFrame:
     a    b    c
0   20   62  128
1  124   22   30
2   64   48  138
3   54   78  198
4  164  166   24

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [35]:

## To Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 50, size=(6, 3)), columns = ["a", "b", "c"])
print("Original DataFrame:")
print(df)

## To Apply a lambda function to create a new column that is the sum of the existing columns
df["sum"] = df.apply(lambda row: row.sum(), axis = 1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    a   b   c
0  40  48   6
1   7  30  16
2  10  48  31
3  30  31  21
4  27  33  35
5  40  28  41
DataFrame with Sum column:
    a   b   c  sum
0  40  48   6   94
1   7  30  16   53
2  10  48  31   89
3  30  31  21   82
4  27  33  35   95
5  40  28  41  109

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [39]:

## To Create a Pandas Series with 5 random text strings
text_data = pd.Series(["this", "that", "there", "then", "therefore"])
print("Original Series:")
print(text_data)

## To convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         this
1         that
2        there
3         then
4    therefore
dtype: object
Uppercase Series:
0         THIS
1         THAT
2        THERE
3         THEN
4    THEREFORE
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [40]:
## To Create a Pandas Series with 5 random text strings
text_data = pd.Series(["this", "that", "there", "then", "therefore"])
print("Original Series:")
print(text_data)

## To extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         this
1         that
2        there
3         then
4    therefore
dtype: object
First three characters:
0    thi
1    tha
2    the
3    the
4    the
dtype: object